<p id="notice"><%= notice %></p>

<h1>Listing Induction Sessions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @induction_sessions.each do |induction_session| %>
      <tr>
        <td><%= induction_session.user %></td>
        <td><%= induction_session.date %></td>
        <td><%= link_to 'Show', induction_session %></td>
        <td><%= link_to 'Edit', edit_induction_session_path(induction_session) %></td>
        <td><%= link_to 'Destroy', induction_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Induction session', new_induction_session_path %>
